# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Ignore any coverage output
coverage/

# Production build
/dist

# IDE settings
.vscode/
.idea/
